.header {
  color: $neutral-white;
  // height: 600px;

  height: 431px;
  min-height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  clip-path: ellipse(77% 61% at 50% 39%);

  .grid {
    padding-top: 2rem;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      padding-top: 5rem;
    }
  }


  .text {
    text-align: center;
    padding-right: 4rem;
    width: 70vw;

    @media screen and (max-width: 375px) {
      padding-right: 0;
    }

    @media screen and (min-width: 768px) {
      padding-right: 10rem;
    }

    @media screen and (min-width: 1024px) {
      padding-right: 15rem;
    }

    @media screen and (min-width: 1440px) {
      padding-right: 25rem;
    }

    p {
      line-height: 30px;
      font-size: small;

      @media screen and (max-width: 375px) {
        line-height: 25px;
      }

    }

    h1 {
      padding: 1rem 0;
      font-weight: bold;
      line-height: 40px;

      @media screen and (max-width: 375px) {
        line-height: 30px;

      }
    }
  }
}

.icons {
  display: flex;
  flex-direction: column;
  color: $neutral-white;

  padding-left: 2rem;
  padding-top: 1rem;


  .icon {
    font-size: small;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      color: $deep-red;
    }
  }
}