.nav {
  color: $neutral-white;
  margin: 0 5%;
  padding-top: 2rem;
  height: 100px;
  align-items: center;


  @media screen and(max-width: 500px) {
    padding-top: 5rem;
  }

  &__company-logo {
    padding-right: 1rem;
  }

  &__company-tagline {
    @media screen and(max-width: 750px) {
      display: none;
    }
  }

  &__links {
    cursor: pointer;

    @media screen and(max-width:1024px) {
      margin-top: 3rem;
    }

    li {
      padding-right: 2rem;

      &:hover {
        color: $deep-red;
      }

      @media screen and(max-width: 750px) {
        display: none;
      }
    }

  }

  &__icon {
    display: none;
    padding-top: 1rem;

    @media screen and (max-width: 425px) {
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 750px) {
      display: block;
    }
  }

  &__mobile {
    position: absolute;
    top: 7rem;
    background: $deep-red;
    height: 100%;
    width: 100%;
    left: 0;
    transition: 0.5s ease-in;
    padding: 5rem;
    transition: all 1500ms ease-in-out;
    transform: translateX(0px);
    z-index: 1;

    &--in {
      transform: translateX(0);
    }

    &--out {
      transform: translateX(1000px);
    }

    &--links {
      li {
        padding-bottom: 2rem;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
          color: $light-red;
        }
      }
    }
  }
}