.nav {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  height: 100px;
  align-items: center;

  &__company-tagline {
    padding-left: 1rem;
  }

  &__links {
    cursor: pointer;

    @media screen and(min-width:768px) {
      padding-top: 3rem;
    }

    li {
      padding-right: 2rem;

      &:hover {
        color: $deep-red;
      }

      @media screen and(max-width: 768px) {
        display: none;
      }
    }

  }

  &__icon {
    display: none;
    padding-top: 1rem;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__mobile {
    position: absolute;
    top: 7rem;
    background: $deep-red;
    width: 100%;
    left: 0;
    transition: 0.5s ease-in;
    padding: 3rem 5rem 5rem;
    transition: all 1000ms ease-in-out;
    transform: translateX(0px);

    clip-path: ellipse(77% 61% at 50% 39%);


    @media screen and (min-width: 768px) {
      display: none;
    }

    &--in {
      transform: translateX(0);
    }

    &--out {
      transform: translateX(1000px);
    }

    &--links {
      li {
        padding-bottom: 1rem;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          color: $light-red;
        }
      }
    }
  }
}