.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.grid{
    display: grid;
}

.template-col-one{
    grid-template-columns: repeat(2, 1fr);
}