.square-button {
  // box-shadow: 0px 6px 15px rgba(233, 40, 45, 0.25);
  background-color: $deep-red;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 31px;
  text-decoration: none;

&:hover{
  border: 1px solid $deep-red;
  color: $deep-red;
  background: $neutral-white;
}

}

.arrow-icon {
  position: relative;
  top: 0.5rem;
}

.sub--headings {
  color: $deep-red;

  font-weight: bold;
  font-size: 40px;
  line-height: 34px;
}

.sub--divider {
  background-color: $light-red;
  width: 80vw;
  height: 1px;
  margin: 2rem 0;

  @media screen and (min-width: 1200px) {
    width: 100vw;
  }
}

.round-edge-buttton {
  border-radius: 26px;
  cursor: pointer;
  color: #ffffff;
  width: 40vw;
  padding: 10px 20px;
  text-decoration: none;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  position: relative;
  bottom: 9rem;
  right: 0;

  @media screen and (min-width: 900px) {
    width: 20vw;
  }
}

.round-button {
  //border-color: rgb(85, 74, 74);
  border-color: #c4c4c4;
  background: $neutral-white;
  border-radius: 42px;
  cursor: pointer;
  color: #565656;
  padding: 12px 47px;
  text-decoration: none;

  width: 40vw;
  margin: 1rem 0;

  @media screen and (min-width: 900px) {
    width: 20vw;
  }

  &:hover{
    background: $deep-red;
    color: $neutral-white;
    border: none;
  }
}
